// 1. Color
$primary01-color: #1A1A1A;
$primary02-color: #FFFFFF;

$secondary01-color: #00FFB2;
$secondary02-color: #FFA92D;
$secondary03-color: #F29D21;
$secondary04-color: #FF576F;

$background-color: $primary01-color;
$text-color: $primary02-color;

// Font Size
$font-size-base: 16px;
$font-size-small: $font-size-base * 0.875;
$font-size-medium: $font-size-base * 1.125;
$font-size-large: $font-size-base * 1.25;
$font-size-xlarge: $font-size-base * 2;

$header-height: 100px;
$footer-height: 100px;

$header-padding-x: 44px;
$footer-padding-x: 44px;

$hamburger-height: 50px;
$hamburger-weight: $hamburger-height;


// Grid
