@forward '@/styles/abstracts/mixins';
@forward "@/styles/abstracts/variables";
@forward "@/styles/reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 5rem;
    --footer-height: 5rem;
  }
}

@layer components {
  .content {
    @apply grid grid-cols-12 gap-6;
    margin: 0 auto;
    // min-height: calc(100dvh - $header-height - $footer-height);
    padding-inline: 44px;

    // width: 75.5%;
    // max-width: 1450px;
    &-container {
      @apply col-start-2 col-end-[-2];
    }
  }
}

@layer components {
  .section-container {
    @apply py-[104px];
  }

  .with-divider {
    @apply border-b-[1px] border-gray-03;
  }

  .section-container-inner {
    @apply flex flex-col gap-16;
  }
}

@layer components {
  .section-top-cols-grid {
    @apply grid gap-6 grid-cols-1 md:grid-cols-[3fr_7fr];
  }

  .two-cols-container {
    @apply grid gap-6 grid-cols-1 md:grid-cols-[3fr_7fr];
  }
}

@layer components {
  .heading-1 {
    @apply text-h1 tracking-h1 font-medium;
  }
  .heading-2 {
    @apply text-h2 tracking-h2;
  }
  .heading-3 {
    @apply text-h3 tracking-h3;
  }
  .heading-4 {
    @apply text-h4 tracking-h4 font-medium;
  }
} 


